<!DOCTYPE html>
<html>
<head>
  <% include ../partials/headforall %>
  <script src='/js/jquery-paginate.min.js'></script>
</head>
<body>
  <% include ../partials/navbar %>
  <article id="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div>
          <input class="btn btn-primary" type="button" value="월례대회" onclick="window.location.href='/rt_gbrackets_v2/main/singleMatch'" />
          <input class="btn btn-success" type="button" value="레이팅 보기" onclick="window.location.href='/rating'" />
        </div>
    </div>
    </div>

      	<div class="row">
      		<div class="col-md-12">
              <h2><%= myname %>님의 레이팅 내역 </h2>
      			<table class="table table-bordered table-hover" id="myTable">
      				<thead>
      					<tr class="danger">
                  <th>번호</th>
                  <th>대회일자</th>
                  <th>나의레이팅</th>
                  <th>결과</th>
                  <th>상대회원레이팅</th>
      					</tr>
      				</thead>
      				<tbody>
              <% for(var i=0; i < listRankings.length; i++) { %>
               <tr class="success">
                 <td><%= listRankings.length-i %></td>
                 <td><%= listRankings[i].gamedate %></td>
                 <!-- <td><%= listRankings[i].currentDate.toISOString().substring(0, 10) %></td> -->
                 <td><%= myname %>(<%= parseInt(listRankings[i].myBeforeRating) %>-><%= parseInt(listRankings[i].myCurrentRating) %>)</td>
                 <td><%= listRankings[i].myScore %>:<%= listRankings[i].oppScore %></td>
                 <td><%= listRankings[i].oppname %>(<%= parseInt(listRankings[i].oppBeforeRating) %>-><%= parseInt(listRankings[i].oppCurrentRating) %>)</td>
             </tr>
            <% } %>
      				</tbody>
      			</table>
      		</div>
      	</div>
      </div>

      <script type='text/javascript'>
          $('#myTable').paginate({
          limit:10, // 10 elements per page
          initialPage:0, // Start on second page
          previous:true, // Show previous button
          previousText:'<', // Change previous button text
          next:true, // Show previous button
          nextText:'>', // Change next button text
          first:true, // Show first button
          firstText:'First', // Change first button text
          last:true, // Show last button
          lastText:'Last', // Change last button text
          optional:false, // Always show the navigation menu
          // onCreate:function(obj) { console.log('Pagination done!'); } // `onCreate` callback
          // onSelect:function(obj, i) { console.log('Page '+ i +' selected!'); } // `onSelect` callback
          // childrenSelector:'tbody > tr.ugly', // Paginate the rows with the `ugly` class
          // navigationWrapper:$('div#myNavWrapper'), // Append the navigation menu to the `#myNavWrapper` div
          // navigationClass:'my-page-navigation', // New css class added to the navigation menu
          // pageToText:function(i) { return (i +1).toString(16); } // Page numbers will be shown on hexadecimal notation
        });
    </script>


</article>
    <% include ../partials/scripts %>

</body>

</html>
