<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head3 %>

    <script src="https://docs.handsontable.com/0.32.0/bower_components/handsontable/dist/handsontable.full.js"></script>
    <link href="https://docs.handsontable.com/0.32.0/bower_components/handsontable/dist/handsontable.full.min.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <% include ../partials/navbar %>
    <div class="container-fluid" id="about">
      <div class="row">
          <div class="col-xs-12">
          <h1>06월례대회 조별 예선 현황 - <%= gname %></h1>
          </div>
      </div>

      <div class="contentBox">

      <div class="buttons">
      <button class="btn btn-default" onclick="location.href='/'">Home</button>
      <div class="col-xs-7">
        <form action="/rbtable/savedata/<%= gameID %>" method="post">
        <input class="btn btn-info active" type="button" value="월례대회" onclick="window.location.href='/rt_gbrackets_v2/main/singleMatch'" />
        <input class="btn btn-success active" type="button" value="업데이트 보기" onclick="window.location.href='/rt_gbrackets_v2/view/<%= gameID %>'" />
        <input class="btn btn-primary active" type="hidden" id="savedata" name="savedata" value="">
        <input class="btn btn-warning active" type="submit" onclick="submitForm()" value="저장">
        </form>
        </div>
      </div>
     <div class="handsontable" id="example"></div>
     <!-- <input type="button" name="submit" value="submit" onclick="submitForm()" /> -->

     <h3 class="contentBoxTop">선수등록</h3>

     <form class="user-form form-horizontal" action="/rbtable/<%= gameID %>" method="post">

     <fieldset>
     <div class="form-group">
       <input class="form-control" type="text" name="playerName" >
     </div>
     <div class="buttons">
     <button class="btn btn-default" type="submit">선수등록</button>
     </div>

     </form>

     <script type='text/javascript'>
       var list = <%- JSON.stringify(pList) %>;
       var lowh = <%- JSON.stringify(hlow) %>;
       var colh = <%- JSON.stringify(hcol) %>;
       </script>
  <script type='text/javascript'>

  var
    data1 = [
      ['', 'Kia', 'Nissan', 'Toyota', 'Honda', 'Mazda', 'Ford'],
      ['2012', 10, 11, 12, 13, 15, 16],
      ['2013', 10, 11, 12, 13, 15, 16],
      ['2014', 10, 11, 12, 13, 15, 16],
      ['2015', 10, 11, 12, 13, 15, 16],
      ['2016', 10, 11, 12, 13, 15, 16]
    ]

  $(document).ready(function () {
      $('#example').handsontable({
           data: list,
           rowHeaders: lowh,
           colHeaders: colh,
           contextMenu: true,
      });
  });

  function submitForm(){
       var $container = $('#example');
       var sdata = JSON.stringify($container.handsontable('getData'));
       //var sdata = $container.handsontable('getData');
       $("#savedata").val(sdata);
      //  var tdata =[["","가나다",null]];
      //  alert("tdata="+tdata[0][1]);
   }

 </script>



<script type='text/javascript'>

 </script>
    </div>
  </body>
</html>
