<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/headforall %>

    <script src="https://docs.handsontable.com/0.32.0/bower_components/handsontable/dist/handsontable.full.js"></script>
    <link href="/css/handsontable.full.css" rel="stylesheet" type="text/css">
    <!-- <link href="https://docs.handsontable.com/0.32.0/bower_components/handsontable/dist/handsontable.full.min.css" rel="stylesheet" type="text/css"> -->
    <style type="text/css">
    .fm-combo  {width: 100%;}
    .div-ph {font-size: 15px;color: #2a78f1;}
    </style>
    <style>
  .modal-header, h4, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }
  </style>
  </head>
  <body>
    <% include ../partials/navbar %>
    <div class="container-fluid" id="about">
      <div class="row">
          <div class="col-xs-12">
          <!-- <h1>2017년 07월 월례대회 조별 예선리그 현황 - <%= gname %></h1> -->

          </div>
      </div>

      <!-- <div class="contentBox"> -->

      <!-- <div class="buttons"> -->

      <div class="row">

      <div class="col-xs-7">
        <!-- <form action="/rbtable/savedata/<%= gameID %>" method="post"> -->
        <button class="btn btn-primary" onclick="location.href='/'">Home</button>
        <input class="btn btn-info active" type="button" value="월례대회" onclick="window.location.href='/rt_gbrackets_v2/main/singleMatch'" />
        <!-- <input class="btn btn-success active" type="button" value="초기화" onclick="window.location.href='/rbtable/init/<%= gameID %>'" />
        <input class="btn btn-primary active" type="hidden" id="savedata" name="savedata" value=""> -->
        </form>
      </div>

      <div class="col-xs-5">
    <form action="/rbtable/init/<%= gameID %>" method="get">
      <input type="hidden" id="resetdata" name="tdata" value="">
      <input class="btn btn-danger active" type="submit"
       onclick="return confirm('모든데이터가 삭제됩니다 초기화를 하시겠습니까?')" value="초기화">
    </form>
    </div>


  </div> // row
      </div>
      <!-- </div> -->
      <!-- </div> -->
           <br>
           <h4 >스코어 테이블1</h4>
           <div class="row">
             <div class="col-xs-1">
             </div>
              <div class="col-xs-3">
                <form action="/rbtable_test/<%= gameID %>" method="get">
                  <input class="btn btn-default active" type="submit"  value="상세보기">
                </form>
              </div>
              <div class="col-xs-3">
                <form action="/rbtable_test/rankview/<%= gameID %>" method="get">
                  <input class="btn btn-default active" type="submit"  value="순위보기">
                </form>
              </div>
          </div>

           <% if(viewtype == 'rank') {%>
            <div class="container-fluid">
              <div class="row">
                  <div class="col-md-12">
                  <div class="handsontable" id="example2"></div>
                  </div>
              </div>
           </div>
          <br>
        <% } %>

      <% if(viewtype == 'detail') {%>
      <script type='text/javascript'>
      var list2 = <%- JSON.stringify(ranklist) %>;
      var lowh2 = <%- JSON.stringify(hlow) %>;
      var colh2 = <%- JSON.stringify(hcol) %>;
      </script>
      <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
            <div class="handsontable" id="example"></div>
            </div>
        </div>
     </div>
    <br>
    <% } %>


    <div class="container">
      <!-- <h2>Modal Login Example</h2> -->
      <!-- Trigger the modal with a button -->
      <button type="button" class="btn btn-info" id="myBtn">점수입력</button>

      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog" >

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header" style="padding:10px 20px;">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4><span class="glyphicon glyphicon-list-alt"></span> 점수 입력 창</h4>
            </div>
            <div class="modal-body" style="padding:2px 3px;">
              <form class="fm-combo" action="/rbtable/savescore/<%= gameID %>" method="post"">
                <div class="form-group row">
                <div class="col-xs-8">
              <select class="form-control" id="player1" name="player1">
                <option value="">이름선택1</option>
                 <% for(var i=0; i < pList.length; i++) { %>
                <option value="<%= pList[0][i+1] %>"><%= pList[0][i+1] %></option>
                  <% } %>
              </select>
              </div>
              <div class="col-xs-4">
              <select class="form-control" id="point1" name="point1">
                <option value="">점수1</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
              </div>
              </div>
              <div class="form-group row">
              <div class="col-xs-8">
              <select class="form-control" id="player2" name="player2">
                <option value="">이름선택2</option>
                <% for(var i=0; i < pList.length; i++) { %>
               <option value="<%= pList[0][i+1] %>"><%= pList[0][i+1] %></option>
                 <% } %>
              </select>
            </div>
            <div class="col-xs-4">
              <select class="form-control" id="point2" name="point2">
                <option value="">점수2</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
              </div>
               </div>
              <div class="form-group">
                <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-pencil"></span>점수입력</button>
              </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
    $(document).ready(function(){
        $("#myBtn").click(function(){
            $("#myModal").modal();
        });
    });
    </script>


     <h4 >선수등록, 교체및 말소</h4>
       <!-- 선수등록 -->
     <form class="form-horizontal" action="/rbtable/<%= gameID %>" method="post">
       <div class="form-group">
       <label class="control-label col-xs-1" for="playerName">name:</label>
       <div class="col-xs-10">
       <input type="text" class="form-control" id="playerName" placeholder="선수이름입력" name="playerName">

                <button class="btn btn-success" type="submit" >선수등록</button>
     </div>
     </div>
     </form>
     <br>
     <div class="row">
        <div class="col-xs-6">
          <!-- 선수교체 -->
          <div class="container">
            <button type="button" class="btn btn-info" id="myBtn3">선수 교체</button>
            <== 클릭
            <!-- Modal -->
            <div class="modal fade" id="myModal3" role="dialog">
              <div class="modal-dialog" >

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header" style="padding:10px 20px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4><span class="glyphicon glyphicon-list-alt"></span> 선수 교체</h4>
                  </div>
                  <div class="modal-body" style="padding:2px 3px;">
                    <form class="fm-combo" action="/rbtable_test/substitute/<%= gameID %>" method="post"">
                      <div class="form-group row">
                      <label class="control-label col-xs-2" for="outplayer">out:</label>
                      <div class="col-xs-10">
                      <select class="form-control" id="outplayer" name="outplayer">
                      <option value="">이름선택</option>
                       <% for(var i=0; i < pList.length; i++) { %>
                      <option value="<%= pList[0][i+1] %>"><%= pList[0][i+1] %></option>
                        <% } %>
                     </select>
                     <div class="form-group">
                     <label class="control-label col-xs-2" for="inplayer">in:</label>
                     <div class="col-xs-10">
                     <input type="text" class="form-control" id="inplayer" placeholder="선수이름입력" name="inplayer">
                   </div>
                   </div>

                    </div>
                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn btn-info btn-block">
                        <span class="glyphicon glyphicon-pencil"></span>선수교체</button>
                      <!-- <button type="submit" class="btn btn-warning btn-block" onclick="return confirm('명단에서 선수가 제외됩니다.. 제외하시겠습니까?')">
                        <span class="glyphicon glyphicon-pencil"></span>선수말소</button> -->
                    </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <script>
          $(document).ready(function(){
              $("#myBtn3").click(function(){
                  $("#myModal3").modal();
              });
          });
          </script>
        </div>
        <div class="col-xs-6">
          <!-- 선수말소 -->
          <div class="container">
            <button type="button" class="btn btn-warning" id="myBtn2">선수 말소</button>
            <== 클릭
            <!-- Modal -->
            <div class="modal fade" id="myModal2" role="dialog">
              <div class="modal-dialog" >

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header" style="padding:10px 20px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4><span class="glyphicon glyphicon-list-alt"></span> 선수 엔트리 제외</h4>
                  </div>
                  <div class="modal-body" style="padding:2px 3px;">
                    <form class="fm-combo" action="/rbtable/remove/<%= gameID %>" method="post"">
                      <div class="form-group row">
                      <label class="control-label col-xs-1" for="rmvplayer"></label>
                      <div class="col-xs-10">
                      <select class="form-control" id="rmvplayer" name="rmvplayer">
                      <option value="">이름선택</option>
                       <% for(var i=0; i < pList.length; i++) { %>
                      <option value="<%= pList[0][i+1] %>"><%= pList[0][i+1] %></option>
                        <% } %>
                     </select>
                    </div>
                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn btn-warning btn-block" onclick="return confirm('명단에서 선수가 제외됩니다.. 제외하시겠습니까?')">
                        <span class="glyphicon glyphicon-pencil"></span>선수말소</button>
                    </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <script>
          $(document).ready(function(){
              $("#myBtn2").click(function(){
                  $("#myModal2").modal();
              });
          });
          </script>
        </div>
     </div>

    <br>

     <h4>게임순서및 진행 현황</h4>
     <div class="container-fluid">
       <div class="row">
           <div class="col-md-12">
    <div id="example1" class="hot1 hot handsontable"></div>
           </div>
       </div>
    </div>

    <br>


     <script type='text/javascript'>
       var list = <%- JSON.stringify(pList) %>;
       var lowh = <%- JSON.stringify(hlow) %>;
       var colh = <%- JSON.stringify(hcol) %>;
    </script>

  <!-- <script type='text/javascript'>
       $(document).ready(function () {
           $('#example2').handsontable({
               data: list,
               rowHeaders: lowh,
               colHeaders: colh,
               contextMenu: true,
               className: "htCenter",
               stretchH: 'all',
               readOnly: true
           });
       });

        </script> -->

  <script type='text/javascript'>

  var
    data1 = [
      ['', 'Kia', 'Nissan', 'Toyota', 'Honda', 'Mazda', 'Ford'],
      ['2012', 10, 11, 12, 13, 15, 16],
      ['2013', 10, 11, 12, 13, 15, 16],
      ['2014', 10, 11, 12, 13, 15, 16],
      ['2015', 10, 11, 12, 13, 15, 16],
      ['2016', 10, 11, 12, 13, 15, 16]
    ]

  $(document).ready(function () {
      $('#example').handsontable({
           data: list,
           rowHeaders: lowh,
           colHeaders: colh,
          //  contextMenu: true,
           className: "htCenter",
           stretchH: 'all',
           readOnly: true
      });
  });

  $(document).ready(function () {
      $('#example2').handsontable({
           data: <%- JSON.stringify(ranklist) %>,
           rowHeaders: <%- JSON.stringify(hlow) %>,
           colHeaders: <%- JSON.stringify(hcol) %>,
           contextMenu: true,
           className: "htCenter",
           stretchH: 'all',
           readOnly: true
      });
  });

 </script>

 <script type='text/javascript'>
  var orderlist = <%- JSON.stringify(gordermulti) %>;
  var donelist = <%- JSON.stringify(doneArr) %>;
 document.addEventListener("DOMContentLoaded", function() {

   var data = [
       ['', 'Kia', 'Nissan', 'Toyota', 'Honda'],
       ['2014', -5, '', 12, 13],
       ['2015', '', -11, 14, 13],
       ['2016', '', 15, -12, 'readOnly']
     ],
     container,
     hot1;

   function firstRowRenderer(instance, td, row, col, prop, value, cellProperties) {
     Handsontable.renderers.TextRenderer.apply(this, arguments);
     //td.style.fontWeight = 'bold';
     // td.style.color = 'green';
     // td.style.background = '#CEC';
     td.style.color = 'green';
     td.style.background = '#EEE';
   }
      //  var donelist = [[2,1],[1,1]];
   container = document.getElementById('example1');
   hot1 = new Handsontable(container, {
     data: orderlist,
     className: "htCenter",
     readOnly: true,
     stretchH: 'all',
     cells: function (row, col, prop) {
       var cellProperties = {};

       for (i=0 ; i < donelist.length ; i++){
         if (row === donelist[i][0] && col === donelist[i][1]) {
           cellProperties.renderer = firstRowRenderer; // uses function directly
         }
       }
       return cellProperties;
     }
   });
 });
  </script>

  <br>
  <div class='div-ph'>
  <p>◆ 순위계산 순서</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;1 총승점</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;2 총승점 동률시 &nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-2인 동률 : 승자승</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-3인이상 동률 : 동률자끼리 승점 다시 산출 - 승점우선 - 승점이 같으면 득실률순 - 득실률 같으면 동률처리</p>
<p>◆ 참고</p>
<p>>&nbsp;&nbsp;&nbsp;게임중 선수등록 또는 말소후에는 최초 점수등록시 승점 및 순위가 갱신됩니다.</p>
  </div>
    </div>
  </body>
</html>
